<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">

    <a href="index.html" class="site_title"><img src="/static/images/icon.png" height="32" width="32"> <span>KuKu Mi</span></a>
  </div>

  <div class="clearfix"></div>



  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <h3></h3>
      <ul class="nav side-menu">
        <li><a href="{% url 'index' %}" ><i class="fa fa-home"></i> Home </a></li>
        <li><a><i class="fa fa-desktop"></i> Xiaomi Mi Remote<span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
		        <li><a href="{% url 'miremote_device' %}"> Mi Remote List</a></li>
                <li><a href="{% url 'miremote_command' %}"> Coomand List</a></li>
            </ul>
        </li>
	    <li><a><i class="fa fa-desktop"></i> Xiaomi BT<span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
		        <li><a href="{% url 'xiaomibt_device' %}"> Device List</a></li>
                <li><a href="{% url 'xiaomibt_setting' %}"> Setting</a></li>
            </ul>
        </li>
      </ul>
    </div>
  </div>
  <!-- /sidebar menu -->

  <!-- /menu footer buttons -->
  <div class="sidebar-footer hidden-small">
    <a data-toggle="tooltip" data-placement="top" title="Settings">
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="FullScreen">
      <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Lock">
      <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
      <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
    </a>
  </div>
  <!-- /menu footer buttons -->
</div>
