{% extends "base.html" %}
{% load staticfiles %}



{% block javascript %}
  <script src="{% static 'js/jquery.loading.js' %}"></script>
  <link href="{% static 'js/jquery.loading.css' %}" rel="stylesheet">
  <script>
    $("#id_name").change(function () {
      var form = $(this).closest("form");
      $.ajax({
        url: form.attr("data-validate-value-url"),
        data: form.serialize(),
        dataType: 'json',
        success: function (data) {
          if (data.is_taken) {
            document.getElementById('btn_save').style.visibility = 'hidden';
            alert(data.error_message);
          } else {
            document.getElementById('btn_save').style.visibility = 'visible';
          }
        }
      });
    });


    $(document).ready(function(){
        $('#id_btn_discover').on('click', function () {
            var form = $(this).closest("form");
            $('body').loading({
                stoppable: false
            });
            $.ajax({
                type: 'GET',
                url: $("#id_btn_discover").attr("data-exec-url"),
                dataType: 'json',
                success: function (data) {
                    $('body').loading('stop');
                    if (data.result) {
                        var txt_timer = document.getElementById("id_txt_discover");
                        txt_timer.innerHTML = JSON.stringify(data.message);
                    }
                }
            });
        });
    });
  </script>
{% endblock %}


{% block main_title %}
    <h2>
        YeeLight BT Setting
    </h2>
{% endblock main_title %}

{% block title1 %}
    <h3>
        Device
    </h3>
{% endblock title1 %}

{% block content1 %}
    <p>
        <a href="{% url 'btindex' %}">Goto List</a>
    </p>
    <div class="container">
        {% if 'create' in request.build_absolute_uri %}
            <button class="btn btn-primary" type="button" id="id_btn_discover" data-exec-url="{% url 'btdiscover' %}">
                Discover Device
            </button>
            <p id="id_txt_discover" style="overflow: scroll;  width: 500px; height: 40px"></p>
        {% endif %}
    </div>
    <br>
    <div class="container">
        <form method="POST" data-validate-value-url="{% url 'validate_device_value' %}">
            {% csrf_token %}
            <table class="table">
                {{ form.as_table }}
            </table>
            <button class="btn btn-primary" type="submit">Save</button>

            {% if 'edit' in request.build_absolute_uri %}
                <a href="{% url 'btdev_del' name=form.name.value %}">
                    <button type="button" class="btn btn-danger">Delete</button>
                </a>
            {% endif %}

        </form>
    </div>
{% endblock content1 %}
