{% extends "base.html" %}
{% load staticfiles %}

{% block javascript %}
  <script src="{% static 'js/jquery.loading.js' %}"></script>
  <link href="{% static 'js/jquery.loading.css' %}" rel="stylesheet">
  <script>
    $(document).ready(function(){
        $('#id_btn_discover').on('click', function () {
            var form = $(this).closest("form");
            $('body').loading({
                stoppable: false
            });
            $.ajax({
                type: 'GET',
                url: $("#id_btn_discover").attr("data-exec-url"),
                dataType: 'json',
                success: function (data) {
                    $('body').loading('stop');
                    if (data.result) {
                        var txt_timer = document.getElementById("id_txt_discover");
                        txt_timer.innerHTML = JSON.stringify(data.message);
                    }
                }
            });
        });
    });
  </script>
{% endblock %}

{% block main_title %}
    <h2>
        Xiaomi BT Setting
    </h2>
{% endblock main_title %}

{% block title1 %}
    <h3>
    </h3>
{% endblock title1 %}

{% block content1 %}
    <div class="container">
        <button class="btn btn-primary" type="button" id="id_btn_discover" data-exec-url="{% url 'xiaomibtinterface' %}">
            Show Bluetooth Interfaces
        </button>
        <p id="id_txt_discover" style="overflow: scroll;  width: 500px; height: 40px"></p>
    </div>
    <br>
    <div class="container">
        <form method="POST" >
            {% csrf_token %}
            <table class="table">
                {{ form.as_table }}
            </table>
            <button class="btn btn-primary" type="submit">Save</button>
        </form>
    </div>
{% endblock content1 %}


{% block title2 %}
    <h3>
        <!--<img src="{% static 'images/note.jpg' %}" style="width:50px" />-->
        Device List
    </h3>
{% endblock title2 %}

{% block content2 %}
    <p>
        <a href="{% url 'xiaomibtdev_create' %}">+ Create New Device</a>
    </p>

    <table class="table">
        <tr><th>Device Name</th><th>MAC address</th></tr>
        {% for item in devices %}
            <tr>
                <td>
                    <a href="{% url 'xiaomibtdev_edit' name=item.name %}">{{ item.name }}</a>
                </td>
                <td>{{ item.mac }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock content2 %}

