{% extends "base.html" %}

{% block title1 %}
    <h3>
        Device
    </h3>
{% endblock title1 %}


{% block javascript %}
  <script>
    $("#id_name").change(function () {
      var form = $(this).closest("form");
      $.ajax({
        url: form.attr("data-validate-value-url"),
        data: form.serialize(),
        dataType: 'json',
        success: function (data) {
          if (data.is_taken) {
            document.getElementById('btn_save').style.visibility = 'hidden';
            alert(data.error_message);
          } else {
            document.getElementById('btn_save').style.visibility = 'visible';
          }
        }
      });
    });


    $(document).ready(function(){
        $('#id_btn_discover').on('click', function () {
            var form = $(this).closest("form");
            $.ajax({
                type: 'GET',
                url: $("#id_btn_discover").attr("data-exec-url"),
                dataType: 'json',
                success: function (data) {
                    if (data.result) {
                        var txt_timer = document.getElementById("id_txt_discover");
                        txt_timer.innerHTML = JSON.stringify(data.message);
                    }
                }
            });
        });
    });
  </script>
{% endblock %}



{% block content1 %}
    <p>
        <a href="{% url 'index' %}">Goto List</a>
    </p>
    {% if 'create' in request.build_absolute_uri %}
        <button type="button" id="id_btn_discover" data-exec-url="{% url 'discover' %}">
            Discover Device
        </button>
    {% endif %}
    <div>
        <form method="POST" data-validate-value-url="{% url 'validate_device_value' %}">
            {% csrf_token %}
            <table class="table">
                {{ form.as_table }}
            </table>
            <button type="submit">Save</button>

            {% if 'edit' in request.build_absolute_uri %}
                <a href="{% url 'dev_del' id=form.dev_ID.value %}">
                    <button type="button" class="btn btn-danger">Delete</button>
                </a>
            {% endif %}

        </form>
    </div>
    <p id="id_txt_discover" style="overflow: scroll;  width: 500px; height: 40px"></p>
{% endblock content1 %}
